In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plot

In [30]:
%store -r flattened
%store -r pl_scope

## plot genre interest over time

In [ ]:
# aggregate genres by playlist
genre_over_time_list = []

for df in flattened:
    agg = (
        df.groupby(["playlist_date", "top_genre"])
            .size()
            .reset_index(name = "count")
    )

    genre_over_time_list.append(agg)

genre_over_time = pd.concat(genre_over_time_list, ignore_index = True)

dominant = (
    genre_over_time
        .sort_values(["playlist_date", "count"], ascending = [True, False])
        .groupby("playlist_date", as_index = False)
        .first()
)

plot.figure(figsize = (12, 6))

genres = dominant["top_genre"].unique()

for g in genres:
    subset = dominant[dominant["top_genre"] == g]
    plot.plot(subset["playlist_date"], subset["count"], marker = "o", label = g)

plot.xlabel("Month")
plot.ylabel("Count")
plot.title("Genre Interest Over Time")
plot.legend(title = "Genre")
plot.xticks(rotation = 45)
plot.tight_layout()
plot.show()

In [23]:
dominant

   playlist_date                  top_genre  count
0     2024-03-01       experimental hip hop      5
1     2024-04-01                 indie folk      3
2     2024-05-01                   jazz rap      4
3     2024-06-01  italian singer-songwriter      2
4     2024-07-01                  post-punk      2
5     2024-08-01                   shoegaze      3
6     2024-09-01           alternative rock      1
7     2024-10-01       experimental hip hop      3
8     2024-11-01       experimental hip hop      2
9     2024-12-01                 yacht rock      2
10    2025-01-01                  math rock      1
11    2025-02-01          christian hip hop      2
12    2025-03-01                        aor      1
13    2025-04-01       experimental hip hop      2
14    2025-05-01                jazz fusion      2
15    2025-06-01                midwest emo      4
16    2025-07-01                  folk punk      2
17    2025-08-01                   art rock      2
18    2025-09-01                  post-punk      3
19    2025-10-01                    nu jazz      2
20    2025-11-01                bedroom pop      3
21    2025-12-01                     bolero      1

In [21]:
genre_over_time

    playlist_date             top_genre  count
0      2025-12-01                bolero      1
1      2025-12-01  experimental hip hop      1
2      2025-12-01                 grime      1
3      2025-12-01           liquid funk      1
4      2025-12-01             post-punk      1
..            ...                   ...    ...
262    2024-03-01                   idm      1
263    2024-03-01           midwest emo      1
264    2024-03-01    old school hip hop      1
265    2024-03-01             post-punk      1
266    2024-03-01    west coast hip hop      1

[267 rows x 3 columns]